@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap');
@import url(inicio-contenido-footer.css);


:root {
  --white: #f9f9f9;
  --green: #434646;
  --green-light: #b5b1b0;
  --black: #36383F;
  --yellow: rgb(241, 245, 28);
  --grey: #85888C;
  --red-yellow: (252, 15, 15), #f5950696, rgb(54, 54, 54);
  --red-boton: rgb(240, 32, 4);
  --hover-efect: rgb(93, 93, 95);
  --font-titlte: font-family: 'Days One', sans-serif;
  --font-sub-title: font-family: 'Merriweather Sans', sans-serif;
  --efect-hover: rgb(93, 93, 95);
  --container-widt: 90vw;
}

:root {
  --mb-1: .5rem;
  --mb-2: .1rem;
  --mb-3: .1.5rem;
  --mb-4: .2rem;
}

:root {
  --z-fixed: 100;
}

body {
  align-items: center;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  text-transform: capitalize;
}

.comprar {
  display: inline-block;
  margin-top: 20px;
  margin-right: 320px;
  padding: 10px 50px;
  text-decoration: none;
  background-color: rgb(22, 22, 22);
  border-radius: 50px;
  border: 1px solid rgb(11, 11, 12);
  color: rgb(243, 243, 250);
  font-size: 16px;
}
@media screen and (max-width:960px) {
  .comprar {
    display: inline-block;
    margin-top: 20px;
    margin-right: 0px;
    padding: 10px 50px;;
    font-size: 16px;
  }
  
}
.comprar:hover {
  background-color: rgb(206, 20, 20);
  color: rgb(250, 250, 250);
}

body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;

}

img {
  width: 100%;
}

button {
  background-color: rgb(24, 23, 23);
  display: block;
  width: 210px;
  height: 40px;
  margin: 40px auto 0;
  border-radius: 5px;
  text-decoration: none;
  line-height: 15px;
  text-align: center;
  padding: 10px;
  font-size: 20;
  font-weight: bolder;
  color: white;
  margin-bottom: 20px;
}

/*Comienzo de navegador*/
/*logotipo-header*/

/*logotipo-header*/
.logo h1 {
  color: #df4509;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
}

.logo h1 span {
  color: #613c3c;
}

/*navegador de mi pagina*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  font-weight: 100;
  background-color: rgb(252, 253, 254);
  z-index: 100;
  padding: 1rem 2rem;
  box-shadow: 0 .5rem .6rem rgb(0, 0, 0, .3);
}

ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 5px;
  font-size: 1.2rem;
  font-family: 'Days One', sans-serif;
  text-decoration: none;
  color: rgb(19, 18, 18);
  text-transform: uppercase;
  margin: 15px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .3s;
}

nav ul li a:hover {
  color: rgb(224, 52, 52);

}

nav ul li a {
  position: relative;
}

header.abajo .logo,
header.abjo ul li a {
  color: #645c5c;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(202, 31, 31);
  height: 5px;
}

nav ul li a:hover:after {
  width: 100%;
}

.menu-btn {
  display: none;
  margin: 2px;
  align-items: center;
  padding: 10px;
  margin-left: 5px;
  border-radius: 100%;
  cursor: pointer;
}

.menu-btn div {
  width: 35px;
  margin-right: 30px;
  height: 4px;
  margin: 6px;
  background: black;
  transition: all .2s ease;
}

.menu-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .nav {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .nav {
    position: fixed;
    top: 13vh;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    box-shadow: rgba(58, 48, 48, 0.955);
    background-color: rgba(49, 48, 48, 0.979);
    transform: translateX(-10%);
    transition: transform .5s;
    z-index: 1250;
  }

  nav ul li a {
    padding: 8px;
    font-size: 1rem;
    color: rgb(235, 233, 233);
    margin: 20px;
  }

  .menu-btn {
    display: none;
    margin: 2px;
    margin-bottom: 10px;
    width: 10%;
    align-items: center;

  }

  .menu-btn div {
    width: 30px;
    margin-right: 5px;
    height: 6x;
    margin: 7px;
    transition: all .2s ease;
  }

  .menu-btn {
    display: block;
  }

  .nav-active {
    transform: translateX(-100%);
  }

  .menu-btn-active .top {
    transform: rotate(-45seg) translate(-5px, 6px);
  }

  .menu-btn-active .middle {
    opacity: 0;
  }

  .menu-btn-active .botton {
    transform: rotate(-45seg) translate(-5px, 6px);
  }
}

@media screen and (max-width: 1294px) {
  .menu-btn div {
    width: 50px;
    margin-right: 5px;
    height: 0.4rem;
    margin: 7px;
    transition: all .2s ease;
  }

  .logo h1 {
    font-size: 1.6rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 950px) {  
  .menu-btn div {
    width: 40px;
    margin-right: 5px;
    height: 0.3rem;
    margin: 5px;
    transition: all .2s ease;
  }

}
@media screen and (max-width: 880px) { 
  .menu-btn div {
    width: 40px;
    margin-right: 5px;
    height: 0.3rem;
    margin: 5px;
    transition: all .2s ease;
  }
}
@media screen and (max-width: 690px) {
  .menu-btn div {
    width: 40px;
    margin-right: 25px;
    height: 0.3rem;
    margin: 5px;
    transition: all .2s ease;
  }
  .logo h1 {
    font-size: 1.3rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 450px) {
  .menu-btn div {
    width: 30px;
    margin-right: 5px;
    height: 0.3rem;
    margin: 6px;
    transition: all .2s ease;
  }
  .logo h1 {
    font-size: 1.4rem;
    font-weight: 600;
  }

}
@media screen and (max-width: 400px){
  .logo h1 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
/*seccion del banner*/
.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/lago.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  animation: mover 7s infinite linear alternate;
}
@keyframes mover {
  from{
      background-position: bottom left;   
  }to{
      background-position: top right;
  }
}

.home .content{
  max-width: 44rem;
  margin-top: 150px;
}
.home .content h3{
  max-width: 60rem;
  font-size: 2.5rem;
  padding-left: 15px;

  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ece5e5;
}
.home .content span{
  color: rgb(253, 216, 6);
}
.home .content .siu{
color: #ce6606;
}
.home .content p{
  font-size: 1.5rem;
  line-height: 35px;
  text-transform: uppercase;
  padding: 1rem 20px;
  text-align: left;
  color: #e0ece5;
}
@media screen and (max-width:968px) {
  .home .content{
    max-width: 50rem;
    margin-top: 150px;
  }
  .home{
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3{
    font-size: 2.5rem;
  }
  .home .content p{
    font-size: 1.5rem;
    line-height: 50px;
    text-align: center;
  }
}
@media screen and (max-width:860px) {

  .home .content h3{
    font-size: 3rem;
  }
  .home .content p{
    font-size: 1.7rem;
    line-height: 45px;
    text-align: center;
  }
}
@media screen and (max-width:768px) {
  .home{
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3{
    font-size: 2.3rem;
  }
  .home .content p{
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
  }
}
@media screen and (max-width:600px) {
  
  .home .content h3{
    font-size: 2.2rem;
  }
  .home .content p{
    line-height: 30px;
    font-size: 1.3rem;

  }
}
/*-fin banner*/

/*Final Banner comienzo*/

/*-boton whatsapp*/
.whatsapp-icon {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 69px;
  right: 2px;
  background-color: #12c955f6;
  color: #FFF;
  border-radius: 60px;
  padding-top: 3px;
  text-align: center;
  font-size: 35px;
  z-index: 300;
}

.whatsapp-icon {
  margin-top: 13px;
}

.whatsapp-icon:hover {
  text-decoration: none;

  background-color: rgb(62, 222, 83);
}

.instagram-icon {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 10px;
  right: 2px;
  background-color: #e917bb;
  color: rgb(242, 240, 243);
  border-radius: 60px;
  text-align: center;
  padding-top: 5px;
  font-size: 33px;
  z-index: 300;
}

.instagram-icon {
  margin-top: 30px;
}

.instagram-icon:hover {
  text-decoration: none;

  background-color: rgb(168, 8, 160);
}

/*seccion del banner*/

/*-boton whatsapp*/
.whatsapp-icon {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 63px;
  right: 2px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 700px;
  text-align: center;
  font-size: 34px;
  z-index: 300;
}

.whatsapp-icon {
  margin-top: 13px;
}

.whatsapp-icon:hover {
  text-decoration: none;

  background-color: rgb(35, 211, 58);
}

/*-boton whatsapp*/

/*Contenido principal informacion del restaurante*/
.section-2{
  padding-top: 50px;
	width: 100%;
	min-height: 85vh;
  display: flex;
  margin-bottom: 10%;
  text-align: center;
  justify-content: center;
	background-color: rgb(253, 253, 253);
}
.container-2{
	width: 85%;
	display: flex;
	margin:auto;
	padding-top: 70px;
}
.content-section{
  width: 550px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.image-section{
	float: right;
	width: 45%;
}
.image-section video{
	width: 95%;
  padding-bottom: 8%;
  margin-left: 30px;
  height: 120%;
  object-fit: cover;
}
.content-section .title-2{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .title-2 h5{
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  padding-bottom: 5px;
}
/*spans*/

.content-section .title-2 h5{
  color: #ce2711;
  
}
.content-section .title-2 .cambio{
  color: #f33e1e;
}

/*spans*/

.content-section .title-2 h2{
	margin-top: 5px;
  padding-left: 0px;
  text-align: left;
	color:#242121;
	font-size: 25px;
}
.content-section .conten-2 p{
  color: rgb(16, 17, 17);
  margin-top: 5px;
  padding-left:30px;
  text-align: left;
  font-size: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 30px;
  margin-bottom: 25px;
}
.content-section .conten-2 .button{
	margin-top: 30px;
}
.content-section .content-2 .button a{
	background-color: #3d3d3d;
	padding:12px 10px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content-2 .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}

.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 1024px){
  .image-section video{
    width: 95%;
    padding-bottom: 8%;
    margin-left: 30px;
    height: 110%;
    object-fit: cover;
  }
  .content-section .title-2 h5{
    font-size: 32px;
    text-align: center;
    padding-left: 0px;
  }
  .content-section .title-2 h2{
    margin-top: 5px;
    text-align: left;
    padding-left: 0px;
    font-size: 25px;
  }
  .content-section .conten-2 p{
    padding-left:20px;
    text-align: left;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 960px){
  .content-section .title-2 h5{
    font-size: 25px;
    text-align: center;
    padding-left: 0px;
  }
  .content-section .title-2 h2{
    margin-top: 5px;
    text-align: left;
    padding-left: 0px;
    font-size: 17px;
  }
  .content-section .conten-2 p{
    padding-left:35px;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 820px){
	.container-2{
	display: block;
	margin:auto;
	padding-top:20px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
    border-radius: 30px;
	float:none;
	width:100%;
	
}
.image-section video{
	width: 100%;
  border-radius: 10px;
  padding: 30px;
  border: 1px solid rgb(252, 245, 245);
  border-radius:  0rem;
	height: 40vh;
	display: block;
	margin:auto;
}

.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .title-2 h5{
  font-size: 35px;
  text-align: center;
  padding-left: 20px;
}
.content-section .title-2 h2{
  margin-top: 5px;
  text-align: left;
  padding-left: 20px;
  font-size: 25px;
}
.content-section .conten-2 p{
  padding-left:20px;
  text-align: left;
  padding-top: 10px;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 20px;
}

}
@media screen and (max-width: 768px){
  .image-section video{
    height: 50vh;
  }
  .content-section .title-2 h5{
    font-size: 27px;
    padding-left: 0px;
    text-align: center;
  }
  .content-section .title-2 h2{
    margin-top: 5px;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
  }
  .content-section .conten-2 p{
    padding-left:20px;
    text-align: left;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 688px){
  .image-section video{
    height: 60vh;
  }
  
}
@media screen and (max-width: 468px){
  .image-section video{
    height: 50vh;
  }
  .content-section .title-2 h5{
    font-size: 22px;
    padding-left: 20px;
    text-align: left;
  }
  .content-section .title-2 h2{
    margin-top: 5px;
    text-align: left;
    padding-left: 20px;
    font-size: 17px;
  }
  .content-section .conten-2 p{
    padding-left:20px;
    text-align: left;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px){
  .content-section .title-2 h5{
    font-size: 21px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    padding-bottom: 5px;
  }
  .content-section .title-2 h2{
    margin-top: 5px;
    padding-left: 20px;
    text-align: left;
    font-size: 16px;
  }
  .content-section .conten-2 p{
    padding-left:20px;
    text-align: left;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 15px;

  }
  .image-section video{
    height: 50vh;
  }
}
@media screen and (max-width: 360px){
  .content-section .title-2 h5{
    font-size: 20px;
  }
  .content-section .title-2 h2{
    font-size: 17px;
  }

}
/* fin Contenido principal informacion del restaurante*/
/* tarjetas*/
.container-e {
  background-color: rgb(48, 45, 45);
  max-width: 100%;
  margin: auto;
  text-align: center;
  padding: 15px 50px;
}

.heading {
  margin-top: 5px;
  position: relative;
  text-align: center;
  padding: 3rem 0;
  color: rgb(30, 29, 29);
  padding-bottom: 1em;
  font-size: 2.5rem;
  color: var(--black);
}

.heading .descubre {
  color: rgb(228, 204, 143);
  display: inline-block;
  padding: .2rem 3rem;
}

.heading .gastro {
  color: #fdfafa;
  background-color: rgb(88, 86, 86);
  display: inline-block;
  padding: .2rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.container-e .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.container-e .box-container .box {
  background-color: rgb(251, 251, 251);
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 25px;
  box-shadow: 0 10px 10px rgba(243, 237, 237, 0.2);
  display: none;
}

.container-e .box-container .box:nth-child(1),
.container-e .box-container .box:nth-child(2),
.container-e .box-container .box:nth-child(3) {
  display: inline-block;
}

.container-e .box-container .box .image {
  margin-bottom: 20px;
  overflow: hidden;
  height: 220px;
  border-radius: 15px;
}

.container-e .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  object-fit: cover;
}

.container-e .box-container .box:hover .image img {
  transform: scale(1.1);
}


.container-e .box-container .box .content h3 {
  font-size: 20px;
  padding-top: 5px;
  color: rgb(38, 35, 35);
}

.container-e .box-container .box .content p {
  font-size: 15px;
  text-align: center;
  color: rgb(43, 39, 39);
  line-height: 2;
  padding: 10px 5;
}

.container-e .box-container .box .content .btn {
  display: inline-block;
  padding: 10px 50px;
  background-color: rgb(22, 22, 22);
  border-radius: 30px;
  border: 1px solid rgb(208, 208, 224);
  color: rgb(243, 243, 250);
  font-size: 16px;
}

.container-e .box-container .box .content .btn:hover {
  background-color: rgb(206, 20, 20);
  color: rgb(250, 250, 250);
}

.container-e .box-container .box .content .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  padding-top: 10px;

}

.container-e .box-container .box .content .icons span {
  font-size: 20px;
  color: rgb(28, 30, 28);
}

.container-e .box-container .box .content .icons span i {
  color: rgb(215, 50, 83);
  padding-right: 5px;
}

#load-more {
  margin-top: 20px;
  display: inline-block;
  border-radius: 35px;
  padding: 13px 30px;
  color: rgb(247, 246, 244);
  font-size: 25px;
  font-weight: 200;
  background-color: rgb(113, 111, 111);
  cursor: pointer;
}

#load-more:hover {
  background-color: var(--hover-efect);
  border-color: rgb(228, 169, 169);
  color: rgba(247, 219, 167, 0.972);
}

@media (max-width:450px) {

  .container-e .heading {
    font-size: 25px;
  }

  .container-e .box-container {
    grid-template-columns: 1fr;
  }

  .container-e .box-container .box .image {
    height: 200px;
  }

  .container-e .box-container .box .content p {
    font-size: 12px;
  }

  .container-e .box-container .box .content .icons span {
    font-size: 12px;
  }

}

/* fin tarjetas*/